html {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-col {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.justify-space-around {
    justify-content: space-between;
}

/* remove default text area stying */
textarea {
    border: none;
    overflow: auto;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

img {
    width: 100%;
}


.window-content {
    transition: 0.3s ease-in-out;
}

button {
    all: unset
}